<br>
<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content medium-4 float-right">
      <div class="card dark">
    <iframe src="//giphy.com/embed/jWlf7axWr7kxW" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/animation-3d-jWlf7axWr7kxW">via GIPHY</a></p>
        <div class="card-section">
          <h3 class="center">Interests</h3>
          <p> Learning new languages both programming and human ones, experimenting in my kitchen using the principles of gastronomy and food science, artificial intelligence and machine learning (math nerd, or I try to be one!), and globe trekking </p>
        </div>
      </div>
    </div>
    <div class="grid-content medium-8">
      <div class="card dark">
        <div class="card-divider center">
          <h1>About Me</h1>
        </div>
        <div class="card-section">
          <p>Last year I decided to change my career paths, and my journey up to this point has been a unique one.  I graduated from University of California Davis majoring in Food Science and Technology. It was during my college experience that I had a passion for critical thinking and finding efficient and logical solutions to many critical issues ranging from developing a new food product to finding methods to analyze consumer testing data.

          Subsequently, I worked in both the food industry in the roles of product development/quality assurance and in state goverment as an analyst.  During this time, I found myself being more interested on how software programs were developed than only simply using it to complete assignments and tasks.</p>

          <p>I decided to attend Epicodus in Portland, Oregon to learn about web development.  I enjoyed the vast applications and solutions that web development can offer to variety of different mediums where it can be applied. Epicodus has exposed me to many different people with vastly different backgrounds and experiences, but they all had common goal of making their difference in the world using technology.  My time in Epicodus has strengthen my desire to enter this dynamic and motivating field. </p>

        </div>
      </div>
      <div class="grid-block small-up-8 social-div">
        <div class="grid-content">
          <a href="http://www.github.com/wonton888"><img class="social square linear spin-cw" src="assets/img/github.svg" alt="image link to Adam's Github profile"></a>
        </div>
        <div class="grid-content">
          <a href="https://www.linkedin.com/in/adam-won-91496983"><img class="social square linear spin-cw" src="assets/img/linkedin.svg" alt="image link to Adam's Linkedin profile"></a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>