<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content">
      <br>
      <div class="card dark">
        <div class="card-divider center">
            <h1>Contact Adam</h1>
        </div>
        <div class="card-section center">
          <h4>Please feel free to contact me with any questions, comments or interest in
          working with me.</h4><br>
          <h4>You can email me at: <a href="mailto:youremailaddress" class="link">wonton916@gmail.com</a></h4><br>
          <h4>Click the links below to check out my Github and Linkedin.</h4>
         </div>
      </div>

      <div class="grid-block small-up-12 social-div">
        <div class="grid-content">
          <a href="http://www.github.com/wonton888"><img class="social square linear spin-ccw" src="assets/img/github.svg" alt="image link to Adam's Github profile"></a>
        </div>
        <div class="grid-content">
          <a href="https://www.linkedin.com/in/adam-won-91496983"><img class="social square linear spin-ccw" src="assets/img/linkedin.svg" alt="image link to Adam's Linkedin Profile"></a>
        </div>
      </div>

    </div>
  </div>
</div>