<div class="grid-block main-photo align-center">

</div>

<div class="grid-container">
  <div class="grid-block">
   
    <div class="grid-content large-6">
      <div class="card dark">
        <div class="card-divider">
          <h3 class="center">Welcome To My Website</h3>
        </div>
        <div class="card-section">
          <p>Hi I'm Adam thanks for visitng my webstie.</p>
        </div>
      </div>
    </div>
    <div class="grid-content large-6">
      <div class="card dark">
        <div class="card-divider">
          <h3 class="center">Portland, Oregon!</h3>
        </div>
        <div class="card-section">
          <p>Hawthrone Bridge at Night.</p>
         </div>
      </div>
    </div>
  </div>
</div>

  <!-- Portfolio -->
  <div ui-view autoscroll="slow"></div>