<br>
<div class="grid-container">

  <div class="grid-block center">
    <div class="grid-content">
      <div class="card dark">
        <div class="card-divider">
          <h1>Portfolio</h1>
          <h4>click on any of the photos to check out a live demo</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block">


    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://wonton888.github.io/pizza_store/pizza.html">
        <img src="assets/img/pizza_store.png" alt="photo of Pizza Store website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 2015</h6>
          <h4>Pizza Store</h4>
        </div>
        <div class="card-section">
          <p>A web app that calculates the cost of a pizza order based on the pizza size, toppings and pizza quantity. Check out the <a href="http://wonton888.github.io/pizza_store/pizza.html" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/wonton888/pizza_store" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

     <div class="grid-content medium-6">
          <div class="card dark">
            <a href="http://wonton888.github.io/calculator/calculator.html">
            <img src="assets/img/calculator.png" alt="photo of Caculator website"></a>
            <div class="card-divider">
              <h6 class="float-right date">November 2015</h6>
              <h4>Caculator</h4>
            </div>
            <div class="card-section">
              <p>A web calculator app. Check out the <a href="http://wonton888.github.io/calculator/calculator.html" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/wonton888/calculator" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>



    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://wonton888.github.io/find_replace/findReplace.html">
        <img src="assets/img/find_replace.png" alt="photo of Find & Replace website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 2015</h6>
          <h4>Find & Replace</h4>
        </div>
        <div class="card-section">
          <p>A web app that finds all instances of a word in user inputted text and replaces all instances of the found word with a replacement. Check out the <a href="http://wonton888.github.io/find_replace/findReplace.html" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/wonton888/find_replace" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://wonton888.github.io/pig-dice/pig-dice.html">
        <img src="assets/img/pig-dice.png" alt="photo of Pig Dice game website"></a>
        <div class="card-divider">
          <h6 class="float-right date">October 2015</h6>
          <h4>Pig Dice</h4>
        </div>
        <div class="card-section">
          <p>A web app that finds all instances of a word in user inputted text and replaces all instances of the found word with a replacement. Check out the <a href="http://wonton888.github.io/pig-dice/pig-dice.html" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/wonton888/pig-dice" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

  </div>
</div>